# Dependencies
node_modules/
**/node_modules/
.pnpm-store/

# Nuxt
.nuxt/
.output/
.nitro/
**/.nuxt/
**/.output/

# Next.js
.next/
**/.next/
out/

# Build
build/
dist/
**/dist/

# Cache
.cache/
**/.cache/

# Payload
media/
**/media/

# Env
.env
.env.local
.env.*.local
.env.production
**/.env
**/.env.*

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# TS
*.tsbuildinfo
.eslintcache

# Test
coverage/
.playwright/
test-results/

# Temp
*.tmp
*.bak
